.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

body{
  font-family: 'Indie Flower', cursive;
  color: #747704;
  font-weight: 300;

}

.text-muted{
  color: #BCBBBB;
}
.text-thin{
  font-weight: 100;
}

.title-super{
  font-size: 60px;
}

.title-logo{
  margin-top: 20px;
  margin-bottom: 20px;
}
